/* Videos Page */

.banner-video {
  background-image: url("/images/video_banner4.jpg");
  background-size: cover; background-position: 50% 70%;
  box-shadow: inset 0 0 60px #1a344d;
  vertical-align: middle !important;
  padding: 40px 0;
  text-align: center !important;
}


.title-video {
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
  font-size: calc(64px + 1.5vw);
  letter-spacing: 12px;
  color: white;
  text-shadow: 2px 2px 12px black;
  margin: auto;
}

.video-main { max-width: 1080px; margin: auto; padding: 30px 20px !important; }

.video-title {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-align: right;
  cursor: pointer;
}

.thumbnails-col { text-align: left; }

.indexThumbnail { height: 90px; width: 160px; border: 1px solid black; cursor: pointer; }

.indexThumbnail:hover { opacity: 0.75; }


/* Video Section */

.video-section {
  max-width: 840px; padding: 40px 20px;
  margin: auto;
}

.section-title {
  padding-right: 6px !important; color: black;
  font-family: 'Rubik', sans-serif;
  font-size: 22px; padding: 4px 0; text-decoration: none !important;
}

.section-title:hover { color: #6197c9; text-decoration: none !important; }

.arrow { color: #6197c9; }

.video-section-row { margin: 12px auto; }

.video-card { margin: 12px auto !important; text-align: center; }

.video-section-thumbnail {
  height: auto; width: calc(140.8px + 6vw); max-width: 100%;
  border: 1px solid black; opacity: 1; cursor: pointer;
}

.video-section-thumbnail:hover { opacity: 0.75; }

.video-section-title {
  margin: 8px auto !important;padding: 0 !important;
  width: 90%; max-width: 200px; text-align: center !important;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-weight: 600;
  cursor: pointer;
}



/* Individual Video Page */

.banner-video-individual {
  background-color: #336a91; max-height: 140px; background-size: cover;
  background-position: 50% 40%; box-shadow: inset 0 0 60px #384543;
  vertical-align: middle !important; margin: auto !important;
  text-align: right !important;
}

.video-ind-image-div { text-align: right !important; padding: 0 !important; }

.video-ind-image { border: 1px solid black; max-width: 25vw; height: auto; }

.title-video-ind-div {
  margin: 0 10px;
  padding-right: calc(24vw - 310px);
}

.title-video-ind {
  text-align: center;
  padding: 40px 0;
  font-size: calc(24px + 0.7vw); color: white;
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}

.video-ind-main {
  padding: 50px 40px 70px;
  padding-right: calc(15vw - 170px);
  float: right;
}

.video-left {
  padding: 0 60px;
  width: 72%;
  float: right !important;
}

.video-container-left {
  width: 64vw; height: 36vw;
  max-width: 880px; max-height: 495px;
}

.video-ind-main-small {
  max-width: 840px;
  padding: 40px 20px;
  margin:auto;
}

.video-top {
  padding-bottom: calc(20px + 1.5vw);
  text-align: center !important;
  margin: 0 auto !important;
}

.video-container-top {
  width: 88vw; height: 49.5vw;
  max-width: 800px; max-height: 450px; margin: auto;
}

.video-index {
  padding: 0; margin: 0 auto !important; width: 28%;
}

.index-row { padding: 0 0 12px !important; }

.thumbnails-col { padding: 0 6px 0 0; max-width: 180px; text-align: right;}

.titles-col {
  padding: 0 0 0 6px !important;
}

.index-video-title {
  margin: 8px auto !important; padding: 0 !important;
  text-align: left !important; max-width: 240px;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-size: 14px; font-weight: 600; cursor: pointer;
}
