/* Navbar */

.navbar {
  background-color: inherit !important;
  padding: 0 60px;
}

.navbarLeft {
  justify-content: left !important;
  margin: auto !important;
  padding: 16px 0 !important;
  width: 100% !important;
}

.navbar-main {
  max-width: 480px !important;
  margin: auto;
}


.left-nav-item {
  width: 38px;
  margin: 0 2px;
  font-size: 15px;
}

.menu-icon {
  color: #155e27;
  margin: auto !important;
}


.menu-img: {
  height: 32px !important;
  width: 32px !important;
}


.youtube {
  color: #cd201f;
}

.facebook {
  color: #3b5998;
}

.instagram {
  color: #3f729b;
}



/* Index Page */

.pageHome {
  padding: 0 !important;
  animation: page-fadeIn 1.2s;
}

.banner {
  text-align: center !important;
  background-image: url("/images/banner_yaniv5.jpg");
  background-size: cover;
  background-position: 50% 45%;
  height: 90vw;
  max-height: 840px;
}


.color-section {
  background-image: url("/images/banner57.jpg");
  background-position: 35% 75%;
  background-size: cover;
  padding: calc(40px + 6.8vw) 2vw;
  border-top: 6px solid #212121;
  border-bottom: 6px solid #212121;
  box-shadow: inset 0 0 150px #263d14;
}

.headline-text {
  margin: auto;
}

.headline-text p {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: calc(15.48px + 0.6vw);
  margin: auto;
  color: white;
  max-width: 840px;
}


.white-section {
  padding: calc(40px + 3vw) 0 calc(60px + 4.5vw);
  max-width: 1600px;
  margin: auto;
}


.mini-section {
  padding-bottom: 8vw;
}

.col-6 {
  padding: 4%;
}

.col-12 {
  padding: 3% 4%;
}

.main-text {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: calc(12.32px + 0.4vw);
  margin: 0 auto;
}

.top-image {
  width: 100%;
  height: 100%;
  min-height: 320px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-chinese {
  background-image: url("/images/chinese.jpg");
  background-position: 75% 50%;
}

.img-yaniv5 {
  background-image: url("/images/yaniv6.jpg");
  background-position: 100% 50%;
}

.img-herbs {
  background-image: url("/images/herbs2.jpg");
  background-position: 100% 50%;
}

.image-yaniv {
  max-width: 100%;
  vertical-align: middle !important;
  float: right;
  height: 260px;
  margin: 0 0 0 30px;
}

h3 {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: calc(18.32px + 0.4vw);
  margin-bottom: 20px;
}



/* Footer */

.footer-div {
  padding: 6px;
  background-color: #ededed;
  /* background-image: linear-gradient(to right, #ebdb83, #feffd1); */
}

.footer {
  max-width: 1200px;
  text-align: center; margin: 60px auto 0;
  padding: 6px 20px 30px;
  font-size: 14px;
}

.navbarCenter {
  justify-content: center !important;
  margin: auto !important;
  padding: 16px 0 !important;
  width: 100% !important;
}
